<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Working Hours Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <nav>
        <a href="{{ url_for('index') }}">Main</a>
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
    </nav>

    <h1>Working Hours Tracker</h1>
    <form action="{{ url_for('submit') }}" method="POST">
        <label for="employee_name">Employee Name:</label>
        <input type="text" id="employee_name" name="employee_name" required><br>

        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required><br>

        <label for="time_in">Time In:</label>
        <input type="time" id="time_in" name="time_in" required><br>

        <label for="time_out">Time Out:</label>
        <input type="time" id="time_out" name="time_out" required><br>

        <label for="workday_type">Workday Type:</label>
        <select id="workday_type" name="workday_type">
            <option value="Worked">Worked</option>
            <option value="Training">Training</option>
            <option value="Bank Holiday">Bank Holiday</option>
            <option value="Annual Leave">Annual Leave</option>
            <option value="Sick Leave">Sick Leave</option>
            <option value="Over time">Over time</option>
        </select><br>

        <input type="submit" value="Submit">
    </form>

    <form action="{{ url_for('export') }}" method="GET">
        <input type="submit" value="Export to CSV">
    </form>
</body>

</html>